.supplies {
  background: linear-gradient(137deg, #506c85 0%, #95c0cc 100%);
  border-radius: 42px;
  color: white;
  padding: 50px 0px 90px 0px;
  margin-top: 180px;
  @include tablet {
    padding-bottom: 50px;
    margin-top: 70px;
  }
  &__container {
    max-width: 1785px;
  }
  &__subtitle {
    @include mobile {
      font-size: 16px;
      max-width: 240px
    }
  }
  &__title {
  }
  &__btn {
    @include flex-center;
    padding: 25px;
    font-size: 26px;
    line-height: 104%;
    gap: 70px;
    margin-top: 30px;
    width: 100%;
    max-width: 490px;
    @include laptop {
      font-size: 22px;
      gap: 30px;
      max-width: 400px;
    }
    @include tablet {
      font-size: 18px;
      max-width: 300px;
      padding: 10px;
      margin-top: 180px;
    }
    @include mobile {
      font-size: 16px;
      max-width: 225px;
    }
  }
  &__btn-arrow {
    width: 75px;
    height: 15px;
    @include tablet {
      width: 50px;
    }
  }
}
