<section class="profile">
  <div class="container my-orders__container">
    <h1 class="title title-2">Личный кабинет</h1>
    <ul class="list profile__nav-list">
      <li>
        <a href="#" class="profile__nav-btn btn-primary active">Мой профиль</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Мои заказы</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Адреса доставки</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Мой баланс</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Мой баланс</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Корзина</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Условия доставки и оплаты</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Выйти</a>
      </li>
      <li></li>
    </ul>
    <ul class="list address__list">
      <li class="address__item">
        <div class="address__item-el">
          <p class="profile__content">
            Адрес: 423567, Россия, Санкт-Петербург, ул. Кораблестроителей, 13
          </p>
        </div>
        <a href="#" target="_blank" class="address__item-btn">Редактировать</a>
      </li>
      <li class="address__item">
        <div class="address__item-el">
          <p class="profile__content">
            Адрес: 423567, Россия, Санкт-Петербург, ул. Кораблестроителей, 13
          </p>
        </div>
        <a href="#" target="_blank" class="address__item-btn">Редактировать</a>
      </li>
      <li class="address__item">
        <div class="address__item-el">
          <p class="profile__content">
            Адрес: 423567, Россия, Санкт-Петербург, ул. Кораблестроителей, 13
          </p>
        </div>
        <a href="#" target="_blank" class="address__item-btn">Редактировать</a>
      </li>
    </ul>
    <a href="#" target="_blank" class="btn-primary address__btn-add">Новый адрес</a>
  </div>
</section>
