<section class="advantages">
  <div class="container advantages__container">
    <div class="advantages__wrapper">
      <ul class="list advantages__list">
        <li class="advantages__item">
          <img src="@img/logos/coffe.svg" alt="coffe" class="advantages__icon" />
          <div class="advantages__info">
            <h5 class="title advantages__title">Кофе от лучших обжарщиков</h5>
            <p class="advantages__content">Только проверенные поставщики</p>
          </div>
        </li>
        <li class="advantages__item">
          <img src="@img/logos/sertificate.svg" alt="sertificate" class="advantages__icon" />
          <div class="advantages__info">
            <h5 class="title advantages__title">Сертификаты качества</h5>
            <p class="advantages__content">Гарантия высокого качества сырья</p>
          </div>
        </li>
        <li class="advantages__item">
          <img src="@img/logos/delivery.svg" alt="delivery" class="advantages__icon" />
          <div class="advantages__info">
            <h5 class="title advantages__title">доставка по всей россии</h5>
            <p class="advantages__content">Отправим в любую точку страны</p>
          </div>
        </li>
        <li class="advantages__item">
          <img src="@img/logos/connection.svg" alt="connection" class="advantages__icon" />
          <div class="advantages__info">
            <h5 class="title advantages__title">Всегда на связи</h5>
            <p class="advantages__content">Мы поможем вам с выбором</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
