<section class="password">
  <div class="container">
    <h1 class="title title-2">Смена пароля</h1>
    <form action="#" class="password__form">
      <input
        type="email"
        name="email"
        placeholder="Электронная почта"
        class="input password__input"
      />
      <input
        type="password"
        name="password-new"
        placeholder="Новый пароль"
        class="input password__input"
      />
      <input
        type="password"
        name="password-replay"
        placeholder="Повторите пароль"
        class="input password__input"
      />
      <button class="btn btn-primary password__btn form-btn">Продолжить</button>
    </form>
  </div>
</section>
<!-- add class open -->
<div class="notification"> 
  <div class="notification__body">
    <h3 class="title notification__title">ваш пароль успешно изменён</h3>
    <button class="btn btn-primary notification__btn">Ок</button>
  </div>
</div>