<section class="history-article">
  <div class="container history-article__container">
    <h1 class="title title-2 history-article__title-main">Истории</h1>
    <ul class="list breadcrumbs history-article__breadcrumbs">
      <li class="breadcrumbs__item"><a href="#" target="_blank">Главная</a></li>
      <li class="breadcrumbs__item">
        <svg class="breadcrumbs__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="breadcrumbs__item"><a href="#" target="_blank">Истории</a></li>
      <li class="breadcrumbs__item">
        <svg class="breadcrumbs__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="breadcrumbs__item">Как сварить вкусный кофе?</li>
    </ul>
    <h2 class="title history-article__title-article">Как сварить вкусный кофе: секреты и советы</h2>
    <div class="history-article__body">
      <div class="history-article__images">
        <img src="@img/images/article.jpg" alt="coffe" class="history-article__img" />
        <img src="@img/images/article.jpg" alt="coffe" class="history-article__img" />
      </div>
      <div class="history-article__info">
        <div class="history-article__info-item">
          <p class="history-article__content">
            Кофе — это не просто напиток, а целый ритуал, способный подарить наслаждение и бодрость.
            Многие из нас начинают утро с чашки ароматного кофе, но не все знают, как правильно его
            приготовить, чтобы вкус был по-настоящему восхитительным. В этой статье мы раскроем
            секреты и поделимся советами, как сварить вкусный кофе в домашних условиях.
          </p>
        </div>
        <div class="history-article__info-item">
          <h5 class="history-article__title">Выбор кофейных зерен</h5>
          <p class="history-article__content">
            Первый и один из самых важных шагов к вкусному кофе — это выбор качественных кофейных
            зерен. Существует множество сортов кофе, каждый из которых обладает уникальными
            вкусовыми характеристиками. Важно экспериментировать и найти тот сорт, который подходит
            именно вам. Рекомендуется покупать зерна, а не молотый кофе, так как молотые зерна
            быстро теряют свой аромат и вкус. Обращайте внимание на дату обжарки — чем свежее зерна,
            тем лучше.
          </p>
        </div>
        <div class="history-article__info-item">
          <h5 class="history-article__title">Хранение кофе</h5>
          <p class="history-article__content">
            Правильное хранение кофейных зерен также играет важную роль в сохранении их вкуса и
            аромата. Храните кофе в герметичном контейнере в прохладном, сухом месте, вдали от
            солнечного света и сильных запахов. Никогда не храните кофе в холодильнике, так как он
            может впитывать посторонние запахи и влагу.
          </p>
        </div>
        <div class="history-article__info-item">
          <h5 class="history-article__title">Помол зерен</h5>
          <p class="history-article__content">
            Помол кофейных зерен должен соответствовать способу приготовления. Чем мельче помол, тем
            быстрее происходит экстракция. Для эспрессо нужен очень мелкий помол, для френч-пресса —
            более крупный. Используйте качественную кофемолку, предпочтительно с жерновами, чтобы
            добиться равномерного помола.
          </p>
        </div>
        <div class="history-article__info-item">
          <h5 class="history-article__title">Температура воды</h5>
          <p class="history-article__content">
            Температура воды для заваривания кофе должна быть около 90-96°C. Кипящая вода может
            сжечь кофе и сделать его горьким, тогда как слишком холодная вода не сможет полностью
            раскрыть вкус зерен. Если у вас нет термометра, дайте воде закипеть, затем подождите
            около 30 секунд перед тем, как залить кофе.
            <br />
            <br />
            Приготовление вкусного кофе — это искусство, которое требует внимания к деталям и
            немного экспериментов. Используйте качественные зерна, правильный помол и соблюдайте
            оптимальные условия заваривания, чтобы наслаждаться идеальной чашкой кофе каждый день.
            Помните, что главное — это ваше удовольствие и наслаждение процессом. Приятного
            кофепития!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="history-article__footer">
    <div class="container">
      <a href="#" target="_blank" class="btn history-article__read">
        <span>Читать ещё</span>
        <svg class="history-article__read-arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </a>
      <div class="swiper history-article__slider">
        <div class="swiper-wrapper">
          <a href="#" target="_blank" class="swiper-slide history-article__slide">
            <img
              src="@img/images/stories-coffe-2.jpg"
              alt="coffe"
              class="history-article__slide-img"
            />
            <div class="history-article__slide-body">
              <h5 class="title history-article__slide-title">Как сварить вкусный кофе?</h5>
              <p class="history-article__slide-content">
                Начните утро с ритуала, способного подарить наслаждение и бодрость. Раскрываем
                секреты и делимся советами, как сварить кофе дома, чтобы вкус был по-настоящему
                восхитительным.
              </p>
            </div>
          </a>
          <a href="#" target="_blank" class="swiper-slide history-article__slide">
            <img
              src="@img/images/stories-coffe-2.jpg"
              alt="coffe"
              class="history-article__slide-img"
            />
            <div class="history-article__slide-body">
              <h5 class="title history-article__slide-title">Как сварить вкусный кофе?</h5>
              <p class="history-article__slide-content">
                Начните утро с ритуала, способного подарить наслаждение и бодрость. Раскрываем
                секреты и делимся советами, как сварить кофе дома, чтобы вкус был по-настоящему
                восхитительным.
              </p>
            </div>
          </a>
          <a href="#" target="_blank" class="swiper-slide history-article__slide">
            <img
              src="@img/images/stories-coffe-2.jpg"
              alt="coffe"
              class="history-article__slide-img"
            />
            <div class="history-article__slide-body">
              <h5 class="title history-article__slide-title">Как сварить вкусный кофе?</h5>
              <p class="history-article__slide-content">
                Начните утро с ритуала, способного подарить наслаждение и бодрость. Раскрываем
                секреты и делимся советами, как сварить кофе дома, чтобы вкус был по-настоящему
                восхитительным.
              </p>
            </div>
          </a>
          <a href="#" target="_blank" class="swiper-slide history-article__slide">
            <img
              src="@img/images/stories-coffe-2.jpg"
              alt="coffe"
              class="history-article__slide-img"
            />
            <div class="history-article__slide-body">
              <h5 class="title history-article__slide-title">Как сварить вкусный кофе?</h5>
              <p class="history-article__slide-content">
                Начните утро с ритуала, способного подарить наслаждение и бодрость. Раскрываем
                секреты и делимся советами, как сварить кофе дома, чтобы вкус был по-настоящему
                восхитительным.
              </p>
            </div>
          </a>
          <a href="#" target="_blank" class="swiper-slide history-article__slide">
            <img
              src="@img/images/stories-coffe-2.jpg"
              alt="coffe"
              class="history-article__slide-img"
            />
            <div class="history-article__slide-body">
              <h5 class="title history-article__slide-title">Как сварить вкусный кофе?</h5>
              <p class="history-article__slide-content">
                Начните утро с ритуала, способного подарить наслаждение и бодрость. Раскрываем
                секреты и делимся советами, как сварить кофе дома, чтобы вкус был по-настоящему
                восхитительным.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
