<section class="profile">
  <div class="container my-orders__container">
    <h1 class="title title-2">Личный кабинет</h1>
    <ul class="list profile__nav-list">
      <li>
        <a href="#" class="profile__nav-btn btn-primary active">Мой профиль</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Мои заказы</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Адреса доставки</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Мой баланс</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Мой баланс</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Корзина</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Условия доставки и оплаты</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Выйти</a>
      </li>
      <li>
    </ul>
    <ul class="list my-orders__nav">
      <li>
        <a href="#" target="_blank" class="my-orders__btn">Выполненные (6)</a>
      </li>
      <li>
        <a href="#" target="_blank" class="my-orders__btn active">Отмененные (2)</a>
      </li>
    </ul>
    <div class="my-orders__body">
      <div class="my-orders__all">
        <h5 class="title my-orders__all-title">Все заказы</h5>
        <ul class="list my-orders__all-list">
          <li>
            <a href="#" target="_blank" class="my-orders__all-btn">Заказ № 21345 от 01.01.2024</a>
          </li>
          <li>
            <a href="#" target="_blank" class="my-orders__all-btn">Заказ № 21345 от 01.01.2024</a>
          </li>
        </ul>
      </div>
      <div class="my-orders__products">
        <div class="my-orders__products-head">
          <p data-da=".my-orders__products,767,3" class="profile__content my-orders__products-num">
            Заказ № 21345 от 01.01.2024
          </p>
          <a href="#" class="my-orders__products-btn">
            <svg class="my-orders__products-icon">
              <use xlink:href='img/icons/icons.svg#icon-call'></use>
            </svg>
            <span>Поддержка</span>
          </a>
          <a href="#" class="my-orders__products-btn">
            <svg class="my-orders__products-icon">
              <use xlink:href='img/icons/icons.svg#icon-reload'></use>
            </svg>
            <span>Повторить заказ</span>
          </a>
        </div>
        <ul class="list my-orders__list">
          <li class="my-orders__list-item">
            <img src="@img/products/bean.jpg" alt="bean" class="my-orders__item-img">
            <div class="my-orders__item-info">
              <span class="my-orders__item-type">Кофе в зернах</span>
              <h5 class="title my-orders__item-title">Hyde Bean Бразилия, 1 кг</h5>
              <span class="my-orders__item-num">1шт</span>
            </div>
            <div class="my-orders__item-price">
              <span class="my-orders__item-price-title">Цена</span>
              <span class="title my-orders__item-price-num">1800 ₽</span>
            </div>
          </li>
          <li class="my-orders__list-item">
            <img src="@img/products/bean.jpg" alt="bean" class="my-orders__item-img">
            <div class="my-orders__item-info">
              <span class="my-orders__item-type">Кофе в зернах</span>
              <h5 class="title my-orders__item-title">Hyde Bean Бразилия, 1 кг</h5>
              <span class="my-orders__item-num">1шт</span>
            </div>
            <div class="my-orders__item-price">
              <span class="my-orders__item-price-title">Цена</span>
              <span class="title my-orders__item-price-num">1800 ₽</span>
            </div>
          </li>
        </ul>
        <ul class="list my-orders__products-info">
          <li class="profile__content"><span>Общая сумма заказа</span> <span class="title">3 600 ₽</span></li>
          <li class="profile__content"><span>Заказ отменён</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>