<section class="new-products">
  <div class="container new-products__container">
    <div class="new-products__header">
      <h2 class="title title-2">Новинки</h2>
      <a data-da=".new-products__container, 767, 2" href="#" target="_blank" class="check-all">
        <span>Смотреть все товары</span>
        <svg class="check-all__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="swiper new-products__slider">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide new-products__slide">
          <img src="@img/products/bean.jpg" alt="bean" class="new-products__img">
          <span class="new-products__type">Кофе в зернах</span>
          <h5 class="title new-products__title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="new-products__price-info">
            <span class="new-products__price">1200 ₽</span>
            <button class="btn btn-primary top-sales__item-price-btn">Купить</button>
          </div>
        </a>
        <a href="#" class="swiper-slide new-products__slide">
          <img src="@img/products/bean.jpg" alt="bean" class="new-products__img">
          <span class="new-products__type">Кофе в зернах</span>
          <h5 class="title new-products__title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="new-products__price-info">
            <span class="new-products__price">1200 ₽</span>
            <button class="btn btn-primary top-sales__item-price-btn">Купить</button>
          </div>
        </a>
        <a href="#" class="swiper-slide new-products__slide">
          <img src="@img/products/bean.jpg" alt="bean" class="new-products__img">
          <span class="new-products__type">Кофе в зернах</span>
          <h5 class="title new-products__title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="new-products__price-info">
            <span class="new-products__price">1200 ₽</span>
            <button class="btn btn-primary top-sales__item-price-btn">Купить</button>
          </div>
        </a>
        <a href="#" class="swiper-slide new-products__slide">
          <img src="@img/products/bean.jpg" alt="bean" class="new-products__img">
          <span class="new-products__type">Кофе в зернах</span>
          <h5 class="title new-products__title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="new-products__price-info">
            <span class="new-products__price">1200 ₽</span>
            <button class="btn btn-primary top-sales__item-price-btn">Купить</button>
          </div>
        </a>
        <a href="#" class="swiper-slide new-products__slide">
          <img src="@img/products/bean.jpg" alt="bean" class="new-products__img">
          <span class="new-products__type">Кофе в зернах</span>
          <h5 class="title new-products__title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="new-products__price-info">
            <span class="new-products__price">1200 ₽</span>
            <button class="btn btn-primary top-sales__item-price-btn">Купить</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
