<section class="profile">
  <div class="container">
    <h1 class="title title-2">Личный кабинет</h1>
    <ul class="list profile__nav-list">
      <li>
        <a href="#" class="profile__nav-btn btn-primary active">Мой профиль</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Мои заказы</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Адреса доставки</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Мой баланс</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Мой баланс</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Корзина</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Условия доставки и оплаты</a>
      </li>
      <li>
        <a href="#" class="profile__nav-btn btn-primary">Выйти</a>
      </li>
      <li>
    </ul>
    <form action="#" class="profile__form">
      <input type="text" placeholder="Имя Фамилия" name="name" class="input profile__input">
      <input type="email" placeholder="Электронная почта" name="email" class="input profile__input">
      <input type="tel" placeholder="Телефон" name="name" class="input profile__input">
      <input type="text" placeholder="Дата рождения" name="date" class="input profile__input">
      <button class="btn btn-primary form-btn profile__form-btn">Сохранить изменения</button>
    </form>
  </div>
</section>