<section class="rec-products">
  <div class="container rec-products__container">
    <h2 class="title title-3 rec-products__title">Вам может понравиться</h2>
    <div class="swiper product-slider rec-products__slider">
      <div class="swiper-wrapper">
        <a href="#" target="_blank" class="swiper-slide product-slider__item">
          <img src="@img/products/bean.jpg" alt="Product" class="product-slider__item-img" />
          <span class="product-slider__item-type">Кофе в зёрнах</span>
          <h5 class="title product-slider__item-title">Hyde Bean Бразилия, 1 кг</h5>
          <p class="product-slider__content">
            Классический вкусовой профиль из Бразилии для любителей шоколадно-орехового вкуса и
            низкой кислотности.
          </p>
          <div class="product-slider__price-info">
            <span class="product-slider__item-price">1200 ₽</span>
            <button class="btn btn-primary product-slider__item-price-btn">В корзину</button>
          </div>
        </a>
        <a href="#" target="_blank" class="swiper-slide product-slider__item">
          <img src="@img/products/bean.jpg" alt="Product" class="product-slider__item-img" />
          <span class="product-slider__item-type">Кофе в зёрнах</span>
          <h5 class="title product-slider__item-title">Hyde Bean Бразилия, 1 кг</h5>
          <p class="product-slider__content">
            Классический вкусовой профиль из Бразилии для любителей шоколадно-орехового вкуса и
            низкой кислотности.
          </p>
          <div class="product-slider__price-info">
            <span class="product-slider__item-price">1200 ₽</span>
            <button class="btn btn-primary product-slider__item-price-btn">В корзину</button>
          </div>
        </a>
        <a href="#" target="_blank" class="swiper-slide product-slider__item">
          <img src="@img/products/bean.jpg" alt="Product" class="product-slider__item-img" />
          <span class="product-slider__item-type">Кофе в зёрнах</span>
          <h5 class="title product-slider__item-title">Hyde Bean Бразилия, 1 кг</h5>
          <p class="product-slider__content">
            Классический вкусовой профиль из Бразилии для любителей шоколадно-орехового вкуса и
            низкой кислотности.
          </p>
          <div class="product-slider__price-info">
            <span class="product-slider__item-price">1200 ₽</span>
            <button class="btn btn-primary product-slider__item-price-btn">В корзину</button>
          </div>
        </a>
        <a href="#" target="_blank" class="swiper-slide product-slider__item">
          <img src="@img/products/bean.jpg" alt="Product" class="product-slider__item-img" />
          <span class="product-slider__item-type">Кофе в зёрнах</span>
          <h5 class="title product-slider__item-title">Hyde Bean Бразилия, 1 кг</h5>
          <p class="product-slider__content">
            Классический вкусовой профиль из Бразилии для любителей шоколадно-орехового вкуса и
            низкой кислотности.
          </p>
          <div class="product-slider__price-info">
            <span class="product-slider__item-price">1200 ₽</span>
            <button class="btn btn-primary product-slider__item-price-btn">В корзину</button>
          </div>
        </a>
        <a href="#" target="_blank" class="swiper-slide product-slider__item">
          <img src="@img/products/bean.jpg" alt="Product" class="product-slider__item-img" />
          <span class="product-slider__item-type">Кофе в зёрнах</span>
          <h5 class="title product-slider__item-title">Hyde Bean Бразилия, 1 кг</h5>
          <p class="product-slider__content">
            Классический вкусовой профиль из Бразилии для любителей шоколадно-орехового вкуса и
            низкой кислотности.
          </p>
          <div class="product-slider__price-info">
            <span class="product-slider__item-price">1200 ₽</span>
            <button class="btn btn-primary product-slider__item-price-btn">В корзину</button>
          </div>
        </a>
        <a href="#" target="_blank" class="swiper-slide product-slider__item">
          <img src="@img/products/bean.jpg" alt="Product" class="product-slider__item-img" />
          <span class="product-slider__item-type">Кофе в зёрнах</span>
          <h5 class="title product-slider__item-title">Hyde Bean Бразилия, 1 кг</h5>
          <p class="product-slider__content">
            Классический вкусовой профиль из Бразилии для любителей шоколадно-орехового вкуса и
            низкой кислотности.
          </p>
          <div class="product-slider__price-info">
            <span class="product-slider__item-price">1200 ₽</span>
            <button class="btn btn-primary product-slider__item-price-btn">В корзину</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
