<section class="reviews">
  <div class="container">
    <h2 class="title title-2 reviews__title">О нас говорят</h2>
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__item">
          <div class="reviews__item-profile">
            <img src="@img/avatars/avatar.jpg" alt="avatar" class="reviews__item-avatar" />
            <div>
              <h5 class="reviews__item-name">Ирина Т.</h5>
              <div class="rating" data-rating="3">
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <p class="reviews__item-content">
            Лучший магазин кофе. Спасибо, что вы есть. Соотношение цены и качества оправдано, всё
            очень вкусно и на высоте!
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <div class="reviews__item-profile">
            <img src="@img/avatars/avatar.jpg" alt="avatar" class="reviews__item-avatar" />
            <div>
              <h5 class="reviews__item-name">Ирина Т.</h5>
              <div class="rating" data-rating="3">
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <p class="reviews__item-content">
            Лучший магазин кофе. Спасибо, что вы есть. Соотношение цены и качества оправдано, всё
            очень вкусно и на высоте!
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <div class="reviews__item-profile">
            <img src="@img/avatars/avatar.jpg" alt="avatar" class="reviews__item-avatar" />
            <div>
              <h5 class="reviews__item-name">Ирина Т.</h5>
              <div class="rating" data-rating="3">
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <p class="reviews__item-content">
            Лучший магазин кофе. Спасибо, что вы есть. Соотношение цены и качества оправдано, всё
            очень вкусно и на высоте!
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <div class="reviews__item-profile">
            <img src="@img/avatars/avatar.jpg" alt="avatar" class="reviews__item-avatar" />
            <div>
              <h5 class="reviews__item-name">Ирина Т.</h5>
              <div class="rating" data-rating="3">
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <p class="reviews__item-content">
            Лучший магазин кофе. Спасибо, что вы есть. Соотношение цены и качества оправдано, всё
            очень вкусно и на высоте!
          </p>
        </div>
        <div class="swiper-slide reviews__item">
          <div class="reviews__item-profile">
            <img src="@img/avatars/avatar.jpg" alt="avatar" class="reviews__item-avatar" />
            <div>
              <h5 class="reviews__item-name">Ирина Т.</h5>
              <div class="rating" data-rating="3">
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
                <div class="rating__item">
                  <svg class="rating__icon">
                    <use xlink:href='img/icons/icons.svg#icon-star'></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <p class="reviews__item-content">
            Лучший магазин кофе. Спасибо, что вы есть. Соотношение цены и качества оправдано, всё
            очень вкусно и на высоте!
          </p>
        </div>
      </div>
    </div>
    <div class="reviews__slider-nav">
      <button class="btn btn-slider btn-slider--prev">
        <svg class="btn-slider__icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
      <div class="reviews__slider-pagination"></div>
      <button class="btn btn-slider btn-slider--next">
        <svg class="btn-slider__icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
    </div>
  </div>
</section>
