<section class="sales-connection">
  <img src="@img/images/sales.png" alt="image" class="sales-connection__decor">
  <div class="container sales-connection__container">
    <h2 class="title sales-connection__title">Оставьте заявку, и мы свяжемся с вами</h2>
    <form action="#" class="sales-connection__form">
      <label class="sales-connection__label">
        <input type="text" placeholder="Имя" class="input sales-connection__input">
      </label>
      <label class="sales-connection__label">
        <input type="tel" placeholder="Телефон" class="input sales-connection__input">
      </label>
      <label class="sales-connection__label">
        <input type="email" placeholder="Электронная почта" class="input sales-connection__input">
      </label>
      <label class="sales-connection__label">
        <input type="text" placeholder="Компания" class="input sales-connection__input">
      </label>
      <button class="btn-primary btn form-btn sales-connection__btn">Отправить</button>
    </form>
  </div>
</section>
