<section class="shop">
  <div class="container">
    <ul class="list shop__category">
      <li class="shop__category-item">
        <a
          href="#"
          target="_blank"
          style="background: url(&quot;@img/images/grains.jpg&quot;) 0 0 / cover no-repeat"
          class="shop__category-el"
        >
          <span class="title shop__category-title">кофе в зернах</span>
        </a>
      </li>
      <li class="shop__category-item">
        <a
          href="#"
          target="_blank"
          style="background: url(&quot;@img/images/grains.jpg&quot;) 0 0 / cover no-repeat"
          class="shop__category-el"
        >
          <span class="title shop__category-title">кофе молотый</span>
        </a>
      </li>
      <li class="shop__category-item">
        <a
          href="#"
          target="_blank"
          style="background: url(&quot;@img/images/grains.jpg&quot;) 0 0 / cover no-repeat"
          class="shop__category-el"
        >
          <span class="title shop__category-title">кофе в капсулах</span>
        </a>
      </li>
      <li class="shop__category-item">
        <a
          href="#"
          target="_blank"
          style="background: url(&quot;@img/images/grains.jpg&quot;) 0 0 / cover no-repeat"
          class="shop__category-el"
        >
          <span class="title shop__category-title">дрип-кофе</span>
        </a>
      </li>
      <li class="shop__category-item">
        <a
          href="#"
          target="_blank"
          style="background: url(&quot;@img/images/grains.jpg&quot;) 0 0 / cover no-repeat"
          class="shop__category-el"
        >
          <span class="title shop__category-title">чай</span>
        </a>
      </li>
      <li class="shop__category-item">
        <a
          href="#"
          target="_blank"
          style="background: url(&quot;@img/images/grains.jpg&quot;) 0 0 / cover no-repeat"
          class="shop__category-el"
        >
          <span class="title shop__category-title">посуда</span>
        </a>
      </li>
    </ul>
    <div class="shop__wrapper">
      <button class="btn shop__btn-sidebar">
        <svg class="shop__btn-sidebar-icon">
          <use xlink:href='img/icons/icons.svg#icon-filter'></use>
        </svg>
        Фильтры
      </button>
      <div class="shop__sidebar-overlay"></div>
      <div class="shop__sidebar">
        <button class="btn shop__sidebar-close">
          <span></span>
          <span></span>
        </button>
        <div class="shop__sidebar-item">
          <h5 class="shop__sidebar-title">Вкусовой профиль</h5>
          <form action="#" class="shop__sidebar-form">
            <input type="checkbox" name="cislot" id="cislot" class="shop__sidebar-input" />
            <label for="cislot" class="shop__sidebar-label">Кислотный</label>
            <input type="checkbox" name="strong" id="strong" class="shop__sidebar-input" />
            <label for="strong" class="shop__sidebar-label">Крепкий</label>
            <input type="checkbox" name="netrivial" id="netrivial" class="shop__sidebar-input" />
            <label for="netrivial" class="shop__sidebar-label">Нетривиальный</label>
            <input type="checkbox" name="balance" id="balance" class="shop__sidebar-input" />
            <label for="balance" class="shop__sidebar-label">Сбалансированный</label>
            <input type="checkbox" name="sweet" id="sweet" class="shop__sidebar-input" />
            <label for="sweet" class="shop__sidebar-label">Сладкий</label>
          </form>
        </div>
        <div class="shop__sidebar-item">
          <h5 class="shop__sidebar-title">Способ приготовления</h5>
          <form action="#" class="shop__sidebar-form">
            <input type="checkbox" name="press" id="press" class="shop__sidebar-input" />
            <label for="press" class="shop__sidebar-label">V60 / Френч пресс</label>

            <input type="checkbox" name="coffe" id="coffe" class="shop__sidebar-input" />
            <label for="coffe" class="shop__sidebar-label">Гейзер</label>

            <input type="checkbox" name="geizer" id="geizer" class="shop__sidebar-input" />
            <label for="geizer" class="shop__sidebar-label">Кофемашина</label>

            <input type="checkbox" name="turka" id="turka" class="shop__sidebar-input" />
            <label for="turka" class="shop__sidebar-label">Турка</label>
          </form>
        </div>
      </div>
      <div class="shop__products">
        <a href="#" class="shop__product">
          <img src="@img/products/bean.jpg" alt="bean" class="shop__product-img" />
          <span class="shop__produc-type">Кофе в зернах</span>
          <h5 class="title shop__product-title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="shop__product-price-info">
            <span class="shop__product-price">1200 ₽</span>
            <button class="btn btn-primary shop__btn-price-btn">Купить</button>
          </div>
        </a>
        <a href="#" class="shop__product">
          <img src="@img/products/clips.jpg" alt="clips" class="shop__product-img" />
          <span class="shop__produc-type">Кофе в зернах</span>
          <h5 class="title shop__product-title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="shop__product-price-info">
            <span class="shop__product-price">1200 ₽</span>
            <button class="btn btn-primary shop__btn-price-btn">Купить</button>
          </div>
        </a>
        <a href="#" class="shop__product">
          <img src="@img/products/box.jpg" alt="box" class="shop__product-img" />
          <span class="shop__produc-type">Кофе в зернах</span>
          <h5 class="title shop__product-title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="shop__product-price-info">
            <span class="shop__product-price">1200 ₽</span>
            <button class="btn btn-primary shop__btn-price-btn">Купить</button>
          </div>
        </a>
        <a href="#" class="shop__product">
          <img src="@img/products/bean.jpg" alt="bean" class="shop__product-img" />
          <span class="shop__produc-type">Кофе в зернах</span>
          <h5 class="title shop__product-title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="shop__product-price-info">
            <span class="shop__product-price">1200 ₽</span>
            <button class="btn btn-primary shop__btn-price-btn">Купить</button>
          </div>
        </a>
        <a href="#" class="shop__product">
          <img src="@img/products/clips.jpg" alt="clips" class="shop__product-img" />
          <span class="shop__produc-type">Кофе в зернах</span>
          <h5 class="title shop__product-title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="shop__product-price-info">
            <span class="shop__product-price">1200 ₽</span>
            <button class="btn btn-primary shop__btn-price-btn">Купить</button>
          </div>
        </a>
        <a href="#" class="shop__product">
          <img src="@img/products/box.jpg" alt="box" class="shop__product-img" />
          <span class="shop__produc-type">Кофе в зернах</span>
          <h5 class="title shop__product-title">Hyde Bean Бразилия, 1 кг</h5>
          <div class="shop__product-price-info">
            <span class="shop__product-price">1200 ₽</span>
            <button class="btn btn-primary shop__btn-price-btn">Купить</button>
          </div>
        </a>
      </div>
    </div>
    <div class="shop__nav">
      <button class="btn shop__nav-btn shop__nav-btn--prev">
        <svg class="shop__nav-btn-arrow">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
      <ul class="list shop__nav-list">
        <li class="shop__nav-item active">
          <a href="#" target="_blank">1</a>
        </li>
        <li class="shop__nav-item">
          <a href="#" target="_blank">2</a>
        </li>
        <li class="shop__nav-item">
          <a href="#" target="_blank">3</a>
        </li>
      </ul>
      <button class="btn shop__nav-btn">
        <svg class="shop__nav-btn-arrow">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
    </div>
  </div>
</section>
