.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  &[data-rating="1"] .rating__item:nth-child(n + 5),
  &[data-rating="2"] .rating__item:nth-child(n + 4),
  &[data-rating="3"] .rating__item:nth-child(n + 3),
  &[data-rating="4"] .rating__item:nth-child(n + 2),
  &[data-rating="5"] .rating__item:nth-child(n + 1) {
    color: var(--wheat);
    opacity: 1;
  }
  &__item {
    width: 18px;
    height: 18px;
    opacity: 0.3;
    @include mobile {
      width: 8px;
      height: 8px;
    }
  }
  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
  }
}
