.title {
  font-family: "OpenSansCondensed", sans-serif;
  margin: 0;
}

.title-1 {
  font-weight: 700;
  font-size: 92px;
  line-height: 104%;
  text-transform: uppercase;
  @include laptop {
    font-size: 76px;
  }
  @include laptop-min {
    font-size: 54px;
  }
  @include tablet {
    font-size: 26px;
  }
}
